template-file-path: ../Security/aws-waf-security-automations.template.yaml

parameters:
  EndpointType: CloudFront

  ActivateAWSManagedIPRParam: 'yes'
  ActivateAWSManagedAIPParam: 'yes'

  ActivateAWSManagedRulesParam: 'yes'
  ActivateAWSManagedAPParam: 'yes'
  ActivateAWSManagedKBIParam: 'yes'

  ActivateAWSManagedSQLParam: 'no'
  ActivateAWSManagedLinuxParam: 'no'
  ActivateAWSManagedPOSIXParam: 'no'
  ActivateAWSManagedWindowsParam: 'no'
  ActivateAWSManagedPHPParam: 'no'
  ActivateAWSManagedWPParam: 'no'

  ActivateScannersProbesProtectionParam: 'yes - AWS Lambda log parser'
  AppAccessLogBucket: 'kavishala-prod-waf-logs'
  AppAccessLogBucketPrefixParam: 'AWSLogs/'
  AppAccessLogBucketLoggingStatusParam: 'no'
  ErrorThreshold: 50
  KeepDataInOriginalS3Location: 'No'

  ActivateHttpFloodProtectionParam: 'yes - AWS WAF rate based rule'
  RequestThreshold: 2000
  RequestThresholdByCountryParam: ''
  HTTPFloodAthenaQueryGroupByParam: 'None'
  WAFBlockPeriod: 240
  AthenaQueryRunTimeScheduleParam: 5

  ActivateBadBotProtectionParam: 'yes'
  ApiGatewayBadBotCWRoleParam: ''

  ActivateReputationListsProtectionParam: 'yes'

  ActivateSqlInjectionProtectionParam: 'no'
  SqlInjectionProtectionSensitivityLevelParam: 'LOW'
  ActivateCrossSiteScriptingProtectionParam: 'no'

  IPRetentionPeriodAllowedParam: -1
  IPRetentionPeriodDeniedParam: -1
  SNSEmailParam: 'arn:aws:sns:ap-south-1:123456789012:kavishala-prod-alerts'

  LogGroupRetentionParam: 365

tags:
  Environment: prod
  Project: kavishala
